.con-gradiente {
  width: 300px;
  height: 200px;
  background-image: radial-gradient(
    ellipse 150px 75px, /* Elipse con radio horizontal 150px y vertical 75px */
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 50px), /* Ajustado para el nuevo tamaño de elipse */
    red calc(50% - 50px),
    black 100%
  );
}

.borde-gradiente-lineal {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 5px solid; /* Necesario para que se vea el borde */
  border-image: linear-gradient(to right, red, blue); /* Define el degradado */
  border-image-slice: 1; /* Hace que el degradado cubra todo el borde */
}